.header {
  .md-toolbar--prominent {
    height: 120px;
    margin-bottom: 5px;
  }
  .md-btn--toolbar {
    margin-top: 0px;
  }
  .title {
    vertical-align: middle;
    line-height: 102px;
    font-size: 1.6em;
    margin-bottom: 0;
    text-transform: uppercase;
    color: $md-orange-800;
  }
}