.header {
  position: relative;
  z-index: 10;
  .stick {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .header-logo {
    display: flex;
    justify-content: center;
  }

  .theme-btn-primary {
    h2 {
      font-size: 36px;
      @include phone {
        font-size: 24px;
      }
    }
  }

  .header-title {
    display: flex;
    justify-content: center;
  }
  .burger-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    .btn-burger {
      margin: auto;
      border: none;
      background-color: transparent;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 30px;
      .bar {
        width: 30px;
        height: 5px;
        background-color: black;
      }
    }
  }
}
