.header {
  min-height: 180px;
  .header-logo {
    margin: 30px;
  }

  .header-title {
    padding-top: 70px;
  }

  .header-title-container {
    height: 70px;
    width: 960px;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 2px whitesmoke;
    background-color: $md-orange-700;
    @include md-box-shadow(5);
    h2 {
      font-family: earthorbiter;
      font-weight: normal;
      text-align: center;
      line-height: 70px;
      font-size: 38px;
      color: white;
    }

    h2::first-letter {
      color: black;
    }

  }
}
