.tab-tottem {
  .container-illustration {
    height: 450px;
    .illustration-1 {
      &.zoom {
        height: 450px;
        object-position: 0 25%;
        transform: scale(1.2);
        margin-left: -80px;
      }
    }
  }
  .section-2 {
    height: 900px;
    .md-grid {
      padding-top: 0;
      padding-bottom: 0;
    }
    .section-2-2,
    .section-2-3 {
      height: 50%;
      .md-cell {
        margin-bottom: 0;
      }
    }
    .container-illustration-1 {
      .container-illustration {
        width: 100%;
        height: 100%;
        .illustration-2 {
          &.zoom {
            height: 100%;
            object-position: 34% 0%;
          }
        }
      }
    }

    .container-illustration-3 {
      .container-illustration {
        width: 100%;
        height: 100%;

        .illustration-3 {
          &.zoom {
            width: 100%;
            height: 100%;
            object-position: 34% 0;
          }
        }
      }
    }

    .container-illustration-4 {
      .container-illustration {
        width: 100%;
        height: 100%;
        .illustration-4 {
          &.zoom {
            width: 100%;
            height: 100%;
            object-position: 34% 0;
          }
        }
      }
    }
  }
}
