.tab-school {
  .container-illustration {
    height: 300px;
    .illustration-1 {
      &.zoom {
        height: 300px;
        object-position: 0 0;
      }
    }
  }
  .section-4 {
    .title {
      font-style: normal;
    }
    .container-illustration {
      height: 600px;
      .illustration-2 {
        &.zoom {
          height: 600px;
          object-position: 0 0;
        }
      }
    }
  }
}
