@import "~react-md/src/scss/_react-md.scss";
@import "./components/index.scss";

$md-primary-color: $md-orange-800;
$md-secondary-color: $md-deep-orange-a-200;

@include react-md-everything;

.md-tab--active {
  background-color: $md-orange-400;
}

@font-face {
  font-family: "earthorbiter";
  font-style: normal;
  src: url("/static/fonts/earthorbiter/earthorbiter.ttf") format("truetype");
}

@font-face {
  font-family: "earthorbiter";
  font-weight: bold;
  src: url("/static/fonts/earthorbiter/earthorbiterbold.ttf") format("truetype");
}
