@import "~react-md/src/scss/_react-md.scss";
@import "./components/index.scss";

$md-primary-color: $md-orange-800;
$md-secondary-color: $md-deep-orange-a-200;

@include react-md-everything;

.md-tab--active {
  background-color: $md-orange-400;
}

@font-face {
  font-family: "earthorbiter";
  font-style: normal;
  src: url("/static/fonts/earthorbiter/earthorbiter.ttf") format("truetype");
}

@font-face {
  font-family: "earthorbiter";
  font-weight: bold;
  src: url("/static/fonts/earthorbiter/earthorbiterbold.ttf") format("truetype");
}

.nav {
  height: 70px;
  .button {
    height: 100%;
    width: 80%;
    border-radius: 5px;
    border: solid 2px whitesmoke;
    background-color: $md-orange-700;
    @include md-box-shadow(5);
    h3 {
      color: whitesmoke;
      line-height: 70px;
      font-family: earthorbiter;
      font-size: 22px;
      margin-bottom: 0;
    }
    h3::first-letter {
      color: black;
    }
  }
}
