@import "../sass/react-md";
@import "../sass/breakpoints";
@import "../sass/theme";
@import "../sass/fonts";
@import "../components/index";
@import "../modules/collectives/index";
@import "../modules/promoteurs/index";
@import "../modules/gamme/index";

body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  @include tablet {
    position: fixed;
  }
}

#__next {
  height: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.page-content {
  position: relative;
  z-index: 1;
  overflow: scroll;
  height: 100%;
}

.background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(2px);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  &.home {
    background-image: url("#{$assetsPath}/pictures/background/bg-home-low.jpg");
  }

  &.collectivite {
    background-image: url("#{$assetsPath}/pictures/background/bg-collective-low.jpg");
  }

  &.promoteurs {
    background-image: url("#{$assetsPath}/pictures/background/bg-promoteurs-low.jpg");
  }

  &.gamme {
    background-image: url("#{$assetsPath}/pictures/background/bg-gamme-low.jpg");
  }
}

.scrollable-content {
  height: calc(650px + 60px);
  overflow-y: auto;
}

.fadedScroller_fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100px;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(251, 251, 251, 1) 0%,
    rgba(251, 251, 251, 0) 100%
  );
}

.filter {
  color: black;
  opacity: 0.5;
}

.container-illustration {
  position: relative;
  overflow: hidden;
  width: 100%;
  @include md-box-shadow(2);
}
.zoom {
  width: 100%;
  object-fit: cover;
}
