.page-promoteurs {
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  .illustration-1 {
    .container-illustration {
      height: 300px;
      .illustration {
        &.zoom {
          height: 300px;
          object-position: 0 50%;
        }
      }
    }
  }
  .section-2 {
    height: 387px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .illustration-2 {
    position: relative;
    .illustration-2-1 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }

    .illustration-2-2 {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 170px;
    }
  }

  .section-3-2 {
    height: 387px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-4-1 {
    height: 387px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .illustration-4 {
    .container-illustration {
      height: 348px;
    }
  }
}
