.tab-plaquette-commerciale {
  .container-illustration-1 {
    .container-illustration {
      @include tablet {
        height: 352px;
      }
      .illustration {
        &.zoom {
          @include tablet {
            object-position: 0px -50px;
          }
        }
      }
    }
  }
  .container-illustration-2 {
    @include tablet {
      padding-left: 40px;
    }
    .container-illustration {
      .illustration {
        &.zoom {
        }
      }
    }
  }
}
