$theme-primary-color: $md-orange-700;
$theme-secondary-color: #132257;

$theme-primary-font: earthorbiter;

.theme-btn-primary {
  width: 100%;
  padding: 0;
  border-radius: 5px;
  border: solid 2px whitesmoke;
  background-color: $md-orange-700;
  @include md-box-shadow(5);
  :hover {
    h2::first-letter {
      color: $md-orange-700;
    }
    h3::first-letter {
      color: $md-orange-700;
    }
  }
  h2,
  h3 {
    color: whitesmoke;
    line-height: 70px;
    font-family: $theme-primary-font;
    font-size: 22px;
    margin-bottom: 0;
  }
  h2::first-letter {
    color: black;
  }
  h3::first-letter {
    color: black;
  }

  &.active {
    background-color: $theme-secondary-color;
    h2,
    h3::first-letter {
      color: $theme-primary-color;
    }
  }
}

.theme-btn-primary:hover {
  background-color: $theme-secondary-color;
}
