@import "~react-responsive-carousel/lib/styles/carousel.css";

.block-carousel {
  .carousel-slider {
    height: 309px;
  }
  img {
    width: 100%;
    height: auto;
  }

  @include phone {
    display: none;
  }
}
