.tab-archer {
  p {
    font-size: 20px;
    margin: auto;
  }
  .spot {
    z-index: 1;
    position: relative;
    background-color: whitesmoke;
    @include md-box-shadow(4);
    h3 {
      color: $theme-primary-color;
      margin: 0;
      padding: 22px 17px 22px 17px;
      font-size: 22px;
      font-style: italic;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .section-1 {
    .container-illustration {
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
      .illustration-1 {
        &.zoom {
          width: 100%;
          height: 250px;
          object-fit: cover;
          object-position: 0 25%;
          transform: scale(1.2);
          margin-left: -50px;
        }
      }
      .spot {
        position: absolute;
        top: 40%;
        left: 47%;
      }
    }
  }
  .section-2 {
    position: relative;
    .spot {
      position: absolute;
      margin-left: 100px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .illustration-2 {
      top: 44px;
      width: 100%;
    }
    .container-illustration {
      position: relative;
      width: 100%;
      height: 270px;
      overflow: hidden;

      .illustration-3 {
        &.zoom {
          width: 100%;
          object-fit: cover;
          object-position: 0 25%;
          transform: scale(2.8);
          margin-top: 25px;
        }
      }
    }
    .illustration-4 {
      &.zoom {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0 45%;
      }
    }
  }
}
