.tab-archer {
  .section-1 {
    .container-illustration {
      display: flex;
      align-items: center;
      height: 350px;
      .illustration-1 {
        &.zoom {
          height: 350px;
          object-position: 0 25%;
          transform: scale(1.2);
          margin-left: -50px;
        }
      }
      .spot {
        right: 10%;
      }
    }
  }
  .section-2 {
    position: relative;
    .spot {
      margin-left: 100px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .illustration-2 {
      top: 44px;
      width: 100%;
    }
    .container-illustration {
      height: 396px;
      .illustration-3 {
        &.zoom {
          object-position: 0 25%;
          transform: scale(2.8);
          margin-top: 25px;
        }
      }
    }
    .illustration-4 {
      &.zoom {
        height: 360px;
        object-position: 0 45%;
      }
    }
  }
}
