.page-collectivite {
  margin-top: -30px;
  background-color: whitesmoke;
  .conceptCollectivité1 {
    &.zoom {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: 0 35%;
    }
    &.full {
      width: 100%;
    }
  }

  .section-1 {
    .section-1-1 {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 20px;

      h2 {
        margin: auto;
        color: $theme-primary-color;
      }
    }
    .section-1-2 {
      display: flex;
      flex-direction: column;
      background-color: $theme-primary-color;
      min-height: 300px;
      padding-top: 40px;
      padding-bottom: 40px;
      h2 {
        margin: auto;
        text-align: center;
        color: whitesmoke;
        font-size: 40px;
        font-weight: bold;
      }
      box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.28),
        0 3px 15px 0 rgba(0, 0, 0, 0.24), 0 9px 3px -6px rgba(0, 0, 0, 0.2);
      .md-grid {
        padding: 0;
      }
    }
  }
}
